Package: enigma2-plugin-extensions-dvdbackup
Version: 1.01
Description: Create a backup of your Video-DVD
Maintainer: OpenPLi team <forum@openpli.org>
Homepage: http://www.openpli.org
Depends: libdvdread, dvdbackup
