Package: enigma2-plugin-systemplugins-automaticvolumeadjustment
Version: 1.0
Description: Automatic Volume Adjustment
Maintainer: OpenPLi team <forum@openpli.org>
Homepage: http://www.openpli.org
Depends: enigma2
