Package: enigma2-plugin-extensions-simplerss
Version: 1.0-20230407-r0
Description: rss viewer for the enigma2 gui
Maintainer: OpenPLi team <forum@openpli.org>
Depends: python3-requests, python3-twisted-web, python3-codecs, python3-xml, python3-html, enigma2-plugin-extensions-mediadownloader
