Package: enigma2-plugin-extensions-zapstatistic
Version: 0.1-r0
Description: Shows the watched services with some statistic
Maintainer: OpenPLi team <forum@openpli.org>
Homepage: www.openpli.org
Depends: enigma2 (>= 2.6git20090615)
