Package: enigma2-plugin-extensions-elektro
Version: 3.4.5
Description: Automatically shuts down the Dreambox to deep standby (Power Save Mode)
Maintainer: OpenPLi team <forum@openpli.org>
Homepage: http://www.openpli.org
Depends: enigma2
