Package: enigma2-plugin-extensions-seekbar
Version: 1.0
Description: Replaces the minute input screen for seek functions
Maintainer: OpenPLi team <forum@openpli.org>
Homepage: http://www.openpli.org
Depends: enigma2 (>= 2.6git20090615)
