Package: enigma2-plugin-systemplugins-networkbrowser
Version: 1.0-20080529-r0
Description: Networkbrowser and Network-Mountmanager
Maintainer: OpenPLi team <forum@openpli.org>
Homepage: http://www.openpli.org
Depends: enigma2
