Package: enigma2-plugin-extensions-googlemaps
Version: 20081010
Description: Google Maps Enigma2 Client
Maintainer: OpenPLi team <forum@openpli.org>
Homepage: http://www.openpli.org
Depends: enigma2 (>> 2.5git20081120), python-twisted-web
