Package: enigma2-plugin-systemplugins-automatictimerlistcleanup
Version: 1.0
Description: Automatic Timerlist Cleanup Plugin
Maintainer: OpenPLi team <forum@openpli.org>
Homepage: http://www.openpli.org
Depends: enigma2
Conflicts: enigma2-plugin-systemplugins-automaticcleanup
