Package: enigma2-plugin-extensions-merlinepg
Version: 1.0
Description: Merlin Programm Guide
Maintainer: OpenPLi team <forum@openpli.org>
Homepage: http://www.openpli.org
Depends: enigma2 (>> 2.6git20091201)
