Package: enigma2-plugin-extensions-trafficinfo
Version: 1.1
Description: Show German traffic jams
Maintainer: OpenPLi team <forum@openpli.org>
Depends: enigma2 (>> 1.0git20070908), python-twisted-web
