Package: enigma2-plugin-extensions-epgrefresh
Version: 1.5-git
Description: Plugin to refresh EPG Data when Receiver is inactive
Maintainer: OpenPLi Team, dima73
Homepage: www.openpli.org
Depends: enigma2, python-codecs, python-xml, enigma2-plugin-systemplugins-mphelp, python-difflib
