Package: enigma2-plugin-extensions-ardmediathek
Version: 1.0
Description: Zugriff auf die ARD-Mediathek
Maintainer: OpenPLi team <forum@openpli.org>
Homepage: http://www.openpli.org
Depends: enigma2 (>= 2.6git20090615), python-twisted-web
