Package: enigma2-plugin-extensions-ncidclient
Version: 20090222
Description: Show Incoming Calls on your TV Screen using any NCID server (e.g. VF EasyBox)
Maintainer: OpenPLi team <forum@openpli.org>
Homepage: http://www.openpli.org
Depends: enigma2 (>> 2.5git20101021), python-twisted-web, python-html, python-textutils
