Package: enigma2-plugin-extensions-aihdcontroler
Version: 1.0
Description: Ai.HD skins Control
Maintainer: OpenPli team <forum@openpli.org>
Homepage: http://www.openpli.org
Depends: enigma2 (>> 2.6git20091201)
