Package: enigma2-plugin-systemplugins-startupservice
Version: 1.0
Description: set startup service
Maintainer: Dr. Best <dr.best@dreambox-tools.info>
Homepage: OpenPLi team <forum@openpli.org>
Depends: enigma2 (>> 2.6git20091223)
