Package: enigma2-plugin-extensions-podcast
Version: 0.1-r0
Description: Stream podcasts
Maintainer: OpenPLi team <forum@openpli.org>
Homepage: http://www.openpli.org
Depends: enigma2, gstreamer1.0-plugins-bad-neonhttpsrc, python3-twisted-web
