Package: enigma2-plugin-systemplugins-vps
Version: 1.3
Description: VPS-Plugin
Section: extra
Priority: optional
Maintainer: OpenPLi team <forum@openpli.org>
Architecture: mipsel
Replaces: enigma2-plugin-extensions-vps
Conflicts: enigma2-plugin-extensions-vps
Depends: enigma2 (>= 2.6git20091203)
